name: build
on:
  push:
    paths-ignore:
      - 'docs/**'

permissions:
  contents: read

jobs:
  autha:
    runs-on: ubuntu-latest
    container: rust:1.88-slim-bullseye
    services:
      postgres:
        image: postgres:17.2
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: APT dependencies
        run: |
          apt-get update
          apt-get install -y openssl libssl-dev pkg-config
      
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            /usr/local/cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
            /__w/Autha/Autha/target
            /__w/Autha/Autha/.sqlx
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install SQLx
        continue-on-error: true
        run: |
          if command -v sqlx >/dev/null 2>&1; then
            echo ""
          else
            cargo install sqlx-cli --version 0.8.5
          fi

      - name: Run migrations
        run: cargo sqlx migrate run
        env:
          DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres

      - name: Prepare SQL queries
        run: cargo sqlx prepare
        env:
          DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres

      - name: Tests
        run: cargo test
        env:
          DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
