name: docker

on:
  workflow_run:
    workflows: ["build"]
    types: ["completed"]
    branches:
      - master

env:
  REGISTRY: ghcr.io
  PLATFORMS: linux/amd64,linux/aarch64

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Get version
      id: "autha-version"
      shell: "bash"
      run: |
        echo PKG_VERSION=$(awk -F ' = ' '$1 ~ /version/ { gsub(/["]/, "", $2); printf("%s",$2) }' ./Cargo.toml) >> $GITHUB_OUTPUT
    
    - name: Set image tags
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.REGISTRY }}/${{ github.repository }}
        tags: |
          type=raw,value=latest
          type=raw,value=${{ steps.autha-version.outputs.PKG_VERSION }}

    - name: Build and Push multi-platform image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: docker/Dockerfile
        push: true
        platforms: ${{ env.PLATFORMS }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
