name: docker

on:
  workflow_run:  
    workflows: ["build"]
    types: ["completed"]
    branches:
      - master

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    strategy: 
      fail-fast: false
      matrix:
        include:
        - platform: linux/amd64
          runner: ubuntu-latest
        - platform: linux/arm64
          runner: ubuntu-24.04-arm
    runs-on:  ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Prepare
        run:  |
          platform=${{ matrix. platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
          echo "IMAGE_NAME_LOWER=$(echo '${{ env.IMAGE_NAME }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses:  docker/login-action@v3
        with: 
          registry:  ${{ env. REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get version
        id: autha-version
        shell: bash
        run: |
          echo PKG_VERSION=$(awk -F ' = ' '$1 ~ /version/ { gsub(/["]/, "", $2); printf("%s",$2) }' ./Cargo.toml) >> $GITHUB_OUTPUT

      - name: Set image tags
        id: meta
        uses: docker/metadata-action@v5
        with: 
          images: ${{ env. REGISTRY }}/${{ env.IMAGE_NAME_LOWER }}
          tags: |
            type=raw,value=latest
            type=raw,value=${{ steps.autha-version.outputs. PKG_VERSION }}

      - name:  Build and Push multi-platform image
        id: build
        uses:  docker/build-push-action@v6
        with:
          context: . 
          file: docker/Dockerfile
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,name=${{ env. REGISTRY }}/${{ env.IMAGE_NAME_LOWER }},push-by-digest=true,name-canonical=true,push=true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs. digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path:  /tmp/digests/*
          if-no-files-found:  error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v4

      - name:  Prepare
        run:  |
          echo "IMAGE_NAME_LOWER=$(echo '${{ env.IMAGE_NAME }}' | tr '[: upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Get version
        id: autha-version
        shell: bash
        run: |
          echo PKG_VERSION=$(awk -F ' = ' '$1 ~ /version/ { gsub(/["]/, "", $2); printf("%s",$2) }' ./Cargo.toml) >> $GITHUB_OUTPUT

      - name: Download digests
        uses: actions/download-artifact@v4
        with: 
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets. GITHUB_TOKEN }}

      - name:  Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id:  meta
        uses:  docker/metadata-action@v5
        with:
          images:  ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LOWER }}
          tags: |
            type=raw,value=latest
            type=raw,value=${{ steps.autha-version. outputs.PKG_VERSION }}

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run:   |
          docker buildx imagetools create $(jq -cr '. tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LOWER }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LOWER }}:${{ steps.autha-version.outputs.PKG_VERSION }}